
<div id="text" style="text-align: center;margin-top: 50px;">
    <p><h3>Frozen Framework</h3></p>
    <div>
        <img style="width:300px;" src="image/snowflake.jpg" />
    </div>
    <div style="margin:10px auto;width:110px">
        <a style="text-decoration: none;color: dodgerblue;" href="https://github.com/AlxMrz/frozenframework">
            <img  style="width:30px;vertical-align: middle;" src="image/github.png" />
            <span class="nickname">@AlxMrz</span>
        </a>
    </div>

</div>
